[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
bs4 = "*"
domain-suffixes = {editable = true, path = "."}
idna = "*"
unidecode = "*"

[dev-packages]
tox = "*"
sphinx = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
